<div class="header-image">
	A cool image will be here...
</div>

<div class="content">
	<h2>What is Tales for the Fire?</h2>
	<p>Tales for the Fire is a cooperative adventure-RPG heavily inspired by games like Dungeons and Dragons, Fallout, and Skyrim. Join a party and fight tough enemies, barter with merchants, and get drunk at the local tavern. Or, become the Storyteller and craft amazing adventures for your friends and control the action in real time!</p>
	<h2>Current Status</h2>
	<p>Tales for the Fire is currently unreleased and under heavy development. Feel free to check out the blog and read up on what is being worked on.</p>
	<p>This website is also under heavy development. If you find any bugs, please contact us and let us know.</p>
	<h2>Platform Availability</h2>
	<p>The game will be available on at least Windows and Linux, hopefully with Steam integration. It will also be available DRM-free via direct purchase through us.</p>
	<p>Mac OS X support will be a planned stretch-goal for when the Kickstarter campaign is created.</p>
</div>

